<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <display-name>TA Recruitment System</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>

  <!-- Explicit mapping so /mo works even if annotation scanning misses @WebServlet -->
  <servlet>
    <servlet-name>MoServlet</servlet-name>
    <servlet-class>com.bupt.ta.servlet.MoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoServlet</servlet-name>
    <url-pattern>/mo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CvDownloadServlet</servlet-name>
    <servlet-class>com.bupt.ta.servlet.CvDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CvDownloadServlet</servlet-name>
    <url-pattern>/cv</url-pattern>
  </servlet-mapping>
</web-app>
